body {
    margin: 0;
    font-family: Lora;
    background-color: #A7C4BC;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.container {
    overflow: visible;
    padding: 60px 20px;
    border: #2F5D62 solid 5px;
    border-radius: 5%;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: #5E8B7E;
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.heading {
    text-align: center;
    color: #DFEEEA;
}

p {
    color: #2F5D62;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.input {
    padding: 10px 20px;
    background-color: #A7C4BC;
    margin: 10px;
    border: none;
}

.btn {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 18px;
    margin: 10px;
    background-color: #2F5D62;
    color: #DFEEEA;
    border-radius: 12px;
    border: #2f6166 solid 2px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}

.info-text {
    margin: 10px;
    padding: 20px 0px 35px;
    color: #2F5D62;
    font-size: 25px;
}






