@media (min-width: 480px) {
    
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #6DA4AA;
}

.container {
    background-color: #F6D776;
    height: 260px;
    width: 400px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #436471;
    text-align: center;

}

.first-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

#result-text {
    margin: 10px;
    padding: 10px;

}

p {
    font-size: 18px;
    font-weight: bold;
    color: #537684;

}

input {
    background-color: #FAEF9B;
    height: 30px;
    border: none;
    border-radius: 6px;
}

#btn {
    background-color: #537684;
    color: whitesmoke;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding: 8px;
    height: 35px;
    width: 80px;
}
